Repository vedprakash-m/vigor: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, typescript-check

.pre-commit-config.yaml:

repos:
  # Backend Python hooks
  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        language_version: python3.12
        args: ["--line-length", "88"]
        files: ^backend/.*\.py$

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (imports)
        files: ^backend/.*\.py$
        args: ["--profile", "black"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        files: ^backend/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        exclude: ^backend/infrastructure/repositories/
        args: [--ignore-missing-imports, --config-file=backend/mypy.ini]
        verbose: true
        # Match CI behavior: mypy errors don't block commits
        # Real type errors should be fixed, but pre-existing issues are allowed
        stages: [manual]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        name: bandit (security)
        files: ^backend/.*\.py$
        args: ["-c", "backend/pyproject.toml", "--severity-level", "medium"]

  # Frontend hooks
  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npx eslint'
        language: system
        files: ^frontend/src/.*\.(ts|tsx|js|jsx)$
        exclude: ^frontend/src/(components/(chakra-compat|compat)|__tests__|test-utils)
        pass_filenames: true

      - id: typescript-check
        name: TypeScript check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # General file quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        files: ^(frontend/|backend/|\.github/workflows/).*\.json$
      - id: check-toml
        files: ^backend/.*\.toml$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending
        args: ["--fix=lf"]

  # Secret scanning - CRITICAL for preventing credential leaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        name: gitleaks (secret detection)
        args: ["--config", ".github/gitleaks.toml"]

# Global settings
default_language_version:
  python: python3.12
  node: "20"

fail_fast: false

Remove response_format param and add debug logging for OpenAI responses
  functions-modernized/shared/openai_client.py
Due: none

Add debug logging to coach_chat to diagnose empty responses
  functions-modernized/shared/openai_client.py
Due: none

Replace mock data with real API data in Progress page
  frontend/src/components/EnhancedProgressVisualization.tsx
Due: eslint-frontend, typescript-check

Fix CI/CD failures: Python unused variables and archived test references
  frontend/src/__tests__/components/Layout.test.tsx
  frontend/src/__tests__/components/RegisterPage.test.tsx
  frontend/src/__tests__/pages/OnboardingPage.test.tsx
  frontend/src/__tests__/pages/ProfilePage.test.tsx
  frontend/src/__tests__/pages/WorkoutPage.test.tsx
  functions-modernized/shared/cosmos_db.py
Due: typescript-check

fix(auth): update Tech Spec to reflect MSAL implementation and fix login redirect loop
  docs/Tech_Spec_Vigor.md
  frontend/src/App.tsx
  frontend/src/pages/LoginPage.tsx
Due: eslint-frontend, typescript-check

fix: properly initialize MSAL and handle redirect promise before rendering
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: eslint-frontend, typescript-check

fix: resolve circular import in MSAL initialization
  frontend/src/App.tsx
  frontend/src/config/msalInstance.ts
  frontend/src/main.tsx
Due: eslint-frontend, typescript-check

fix: move staticwebapp.config.json to public folder for SWA routing
  frontend/public/staticwebapp.config.json
Due: none

feat: Add comprehensive Ghost Admin Dashboard
  README.md
  docs/UX_Spec.md
  frontend/src/App.tsx
  frontend/src/components/AdminAuditSecurity.tsx
  frontend/src/components/AdminProtectedRoute.tsx
  frontend/src/components/AnalyticsDashboard.tsx
  frontend/src/components/LLMConfigurationSimple.tsx
  frontend/src/components/LLMHealthMonitoring.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/UserManagement.tsx
  frontend/src/config/adminConfig.ts
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/TierManagementPage.tsx
  frontend/src/services/adminApi.ts
  functions-modernized/function_app.py
  functions-modernized/shared/auth.py
  functions-modernized/shared/cosmos_db.py
Due: eslint-frontend, typescript-check

Phase 7: Security hardening, backend decomposition, frontend cleanup
  README.md
  docs/Tasks.md
  frontend/src/App.tsx
  frontend/src/__tests__/components/ForgotPasswordPage.test.tsx
  frontend/src/components/AdminAuditSecurity.tsx
  frontend/src/components/LLMHealthMonitoring.tsx
  frontend/src/components/Layout.tsx
  frontend/src/config/adminConfig.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AdminPage.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LLMOrchestrationPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/pages/TierManagementPage.tsx
  frontend/src/services/adminApi.ts
  frontend/src/store/chatStore.ts
  frontend/tsconfig.app.json
  functions-modernized/blueprints/__init__.py
  functions-modernized/blueprints/admin_bp.py
  functions-modernized/blueprints/auth_bp.py
  functions-modernized/blueprints/coach_bp.py
  functions-modernized/blueprints/ghost_bp.py
  functions-modernized/blueprints/health_bp.py
  functions-modernized/blueprints/workouts_bp.py
  functions-modernized/function_app.py
  functions-modernized/shared/auth.py
  functions-modernized/shared/config.py
  functions-modernized/shared/cosmos_db.py
  functions-modernized/shared/helpers.py
  functions-modernized/tests/__init__.py
  functions-modernized/tests/conftest.py
  functions-modernized/tests/test_auth.py
  functions-modernized/tests/test_helpers.py
  infrastructure/bicep/function-app-modernized.bicep
  infrastructure/bicep/main-modernized.bicep
Due: eslint-frontend, typescript-check

fix: resolve CI/CD lint and test failures
  frontend/src/__tests__/components/Layout.test.tsx
  frontend/src/__tests__/components/LoginPage.test.tsx
  frontend/src/__tests__/contexts/AuthContext.test.tsx
  functions-modernized/blueprints/ghost_bp.py
  functions-modernized/blueprints/health_bp.py
  functions-modernized/function_app.py
  functions-modernized/shared/cosmos_db.py
  functions-modernized/shared/helpers.py
  functions-modernized/tests/conftest.py
  functions-modernized/tests/test_auth.py
  functions-modernized/tests/test_helpers.py
Due: typescript-check

Phase 8: Data integrity fixes, APNs push pipeline, test coverage (66 tests)
  .github/workflows/ci-cd-pipeline.yml
  docs/Tasks.md
  functions-modernized/blueprints/ghost_bp.py
  functions-modernized/requirements.txt
  functions-modernized/shared/apns_client.py
  functions-modernized/shared/config.py
  functions-modernized/shared/cosmos_db.py
  functions-modernized/tests/test_cosmos_db.py
  functions-modernized/tests/test_ghost_endpoints.py
  functions-modernized/tests/test_trust.py
Due: none

Phase 9: API contract alignment & test coverage expansion
  README.md
  docs/Tasks.md
  functions-modernized/blueprints/admin_bp.py
  functions-modernized/blueprints/auth_bp.py
  functions-modernized/blueprints/coach_bp.py
  functions-modernized/blueprints/devices_bp.py
  functions-modernized/blueprints/ghost_bp.py
  functions-modernized/blueprints/trust_bp.py
  functions-modernized/blueprints/workouts_bp.py
  functions-modernized/function_app.py
  functions-modernized/shared/cosmos_db.py
  functions-modernized/tests/test_admin_endpoints.py
  functions-modernized/tests/test_auth_trust_devices.py
  functions-modernized/tests/test_coach_endpoints.py
  functions-modernized/tests/test_workouts_endpoints.py
Due: none

fix: remove unused datetime imports from test_workouts_endpoints.py
  functions-modernized/tests/test_workouts_endpoints.py
Due: none
